<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.example.e4.rcp">
         <property
               name="appName"
               value="com.example.e4.rcp">
         </property>
         <property
               name="aboutImage"
               value="icons/TestERPC.png">
         </property>
         <property
               name="aboutText"
               value="kjhgjkhgjk">
         </property>
         <property
               name="windowImages"
               value="icons/TestERPC16.png,icons/TestERPC32.png,icons/TestERPC64.png,icons/TestERPC128.png">
         </property>
      </product>
   </extension>

</plugin>
