<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="asm"
            id="net.mograsim.plugin.asm"
            name="%content-type.name"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="net.mograsim.plugin.asm"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="net.mograsim.plugin.asm.editor.AsmPresentationReconciler"
            contentType="net.mograsim.plugin.asm">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="net.mograsim.plugin.asm.editor.AsmHoverProvider"
            contentType="net.mograsim.plugin.asm">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="net.mograsim.plugin.asm.editor.AsmContentAssistProcessor"
            contentType="net.mograsim.plugin.asm">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="net.mograsim.plugin.asm.editor.AsmAutoEditStrategy"
            contentType="net.mograsim.plugin.asm">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="net.mograsim.plugin.asm.editor.AsmReconciler"
            contentType="net.mograsim.plugin.asm">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.mograsim.plugin.asm.editor.ValidatorDocumentSetupParticipant"
            contentTypeId="net.mograsim.plugin.asm"
            extensions="asm">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.mograsim.plugin"
            name="%category.name">
      </category>
      <view
            allowMultiple="false"
            category="net.mograsim.plugin"
            class="net.mograsim.plugin.asm.AsmOpsEdit"
            icon="icons/mograsim/orange/icon_orange_16.png"
            id="net.mograsim.plugin.views.AsmOpsEdit"
            inject="true"
            name="%view.name">
      </view>
      <view
            allowMultiple="true"
            category="net.mograsim.plugin"
            class="net.mograsim.plugin.views.LogicUIPart"
            icon="icons/mograsim/blue-orange/icon_blue-orange_16.png"
            id="net.mograsim.plugin.core.view1"
            inject="true"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         id="net.mograsim.plugin.nature.mograsimBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.mograsim.plugin.nature.MograsimBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="mograsimNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.mograsim.plugin.nature.MograsimNature">
         </run>
      </runtime>
      <builder
            id="net.mograsim.plugin.nature.mograsimBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.mograsim.plugin.mograsimNature.category"
            name="%category.name.0">
      </category>
      <command
            categoryId="net.mograsim.plugin.mograsimNature.category"
            defaultHandler="net.mograsim.plugin.nature.AddRemoveMograsimNatureHandler"
            id="net.mograsim.plugin.addRemoveMograsimNature"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="net.mograsim.plugin.addRemoveMograsimNature"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="net.mograsim.plugin.mograsimNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.mograsim.plugin.addRemoveMograsimNature"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="net.mograsim.plugin.mograsimNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/mograsim/blue-orange/icon_blue-orange_7x8.png"
            id="net.mograsim.plugin.decorator"
            label="%decorator.label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            class="net.mograsim.plugin.SimulationPreview"
            id="net.mograsim.plugin.mograsim"
            label="%themeElementCategory.label">
      </themeElementCategory>
      <themeElementCategory
            class="net.mograsim.plugin.SimulationPreview"
            id="net.mograsim.logic.ui"
            label="%themeElementCategory.label.0"
            parentId="net.mograsim.plugin.mograsim">
      </themeElementCategory>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.background"
            isEditable="true"
            label="%colorDefinition.label"
            value="COLOR_WHITE">
         <description>
            %colorDefinition.description
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.foreground"
            isEditable="true"
            label="%colorDefinition.label.0"
            value="COLOR_BLACK">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.text"
            label="%colorDefinition.label.10"
            value="COLOR_BLACK">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.bit.one"
            isEditable="true"
            label="%colorDefinition.label.5"
            value="COLOR_GREEN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.bit.u"
            isEditable="true"
            label="%colorDefinition.label.6"
            value="COLOR_CYAN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.bit.x"
            isEditable="true"
            label="%colorDefinition.label.7"
            value="COLOR_RED">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.bit.z"
            isEditable="true"
            label="%colorDefinition.label.8"
            value="COLOR_YELLOW">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.ui"
            id="net.mograsim.logic.ui.color.bit.zero"
            isEditable="true"
            label="%colorDefinition.label.9"
            value="COLOR_GRAY">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_comment_color"
            isEditable="true"
            label="%colorDefinition.label.1"
            value="COLOR_GREEN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_label_color"
            isEditable="true"
            label="%colorDefinition.label.2"
            value="COLOR_BLUE">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_operation_color"
            isEditable="true"
            label="%colorDefinition.label.3"
            value="COLOR_RED">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_number_color"
            isEditable="true"
            label="%colorDefinition.label.4"
            value="COLOR_MAGENTA">
      </colorDefinition>
      <fontDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_operation_font"
            isEditable="true"
            label="%fontDefinition.label">
      </fontDefinition>
   </extension>

</plugin>
