<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.mograsim.plugin.core.hasNature">
         <adapt
               type="org.eclipse.core.resources.IProject">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="net.mograsim.plugin.core.mograsimNature">
            </test>
         </adapt>
      </definition>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="asm"
            id="net.mograsim.plugin.asm"
            name="%content-type.name"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="mpm"
            id="net.mograsim.plugin.mpm"
            name="%content-type.mpm.name"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="regs"
            id="net.mograsim.plugin.regs"
            name="Registers / Latches state"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="mem"
            id="net.mograsim.plugin.mem"
            name="Main Memory"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="net.mograsim.plugin.core.addMograsimNature"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <not>
                  <reference
                        definitionId="net.mograsim.plugin.core.hasNature">
                  </reference>
               </not>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="mograsimNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.mograsim.plugin.nature.MograsimNature">
         </run>
      </runtime>
      <builder
            id="net.mograsim.plugin.nature.mograsimBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="net.mograsim.plugin.asm"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editor
      		name="%editor.name.0"
      		icon="icons/mograsim/blue-orange/icon_blue-orange_16.png"
      		class="net.mograsim.plugin.tables.mi.InstructionView"
      		id="net.mograsim.plugin.tables.mi.InstructionView">
      		<contentTypeBinding contentTypeId="net.mograsim.plugin.mpm"/>
      </editor>
      <editor
            class="net.mograsim.plugin.editors.MemoryEditor"
            icon="icons/mograsim/blue-orange/icon_blue-orange_16.png"
            id="net.mograsim.plugin.editors.memoryeditor"
            name="Memory Editor">
         <contentTypeBinding
               contentTypeId="net.mograsim.plugin.mem">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="net.mograsim.plugin.asm.editor.AsmPresentationReconciler"
            contentType="net.mograsim.plugin.asm">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="net.mograsim.plugin.asm.editor.AsmHoverProvider"
            contentType="net.mograsim.plugin.asm">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="net.mograsim.plugin.asm.editor.AsmContentAssistProcessor"
            contentType="net.mograsim.plugin.asm">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="net.mograsim.plugin.asm.editor.AsmAutoEditStrategy"
            contentType="net.mograsim.plugin.asm">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="net.mograsim.plugin.asm.editor.AsmReconciler"
            contentType="net.mograsim.plugin.asm">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="net.mograsim.plugin.asm.editor.ValidatorDocumentSetupParticipant"
            contentTypeId="net.mograsim.plugin.asm"
            extensions="asm">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.mograsim.plugin"
            name="%category.name">
      </category>
      <view
            allowMultiple="false"
            category="net.mograsim.plugin"
            class="net.mograsim.plugin.asm.AsmOpsEdit"
            icon="icons/mograsim/orange/icon_orange_16.png"
            id="net.mograsim.plugin.views.AsmOpsEdit"
            inject="true"
            name="%view.name">
      </view>
      <view
            category="net.mograsim.plugin"
            class="net.mograsim.plugin.views.SimulationView"
            icon="icons/mograsim/blue-orange/icon_blue-orange_16.png"
            id="net.mograsim.plugin.simulationview"
            name="Simulation View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="net.mograsim.plugin.nature.mograsimBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.mograsim.plugin.nature.MograsimBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="asmProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            class="net.mograsim.plugin.SimulationPreview"
            id="net.mograsim.plugin.mograsim"
            label="%themeElementCategory.label">
      </themeElementCategory>
      <themeElementCategory
            class="net.mograsim.plugin.SimulationPreview"
            id="net.mograsim.logic.model"
            label="%themeElementCategory.label.0"
            parentId="net.mograsim.plugin.mograsim">
      </themeElementCategory>
      <themeElementCategory
            class="net.mograsim.plugin.SimulationPreview"
            id="net.mograsim.plugin.mi"
            label="%themeElementCategory.label.1"
            parentId="net.mograsim.plugin.mograsim">
      </themeElementCategory>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.background"
            isEditable="true"
            label="%colorDefinition.label"
            value="COLOR_WHITE">
         <description>
            %colorDefinition.description
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.foreground"
            isEditable="true"
            label="%colorDefinition.label.0"
            value="COLOR_BLACK">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.text"
            label="%colorDefinition.label.10"
            value="COLOR_BLACK">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.bit.one"
            isEditable="true"
            label="%colorDefinition.label.5"
            value="COLOR_GREEN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.bit.u"
            isEditable="true"
            label="%colorDefinition.label.6"
            value="COLOR_CYAN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.bit.x"
            isEditable="true"
            label="%colorDefinition.label.7"
            value="COLOR_RED">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.bit.z"
            isEditable="true"
            label="%colorDefinition.label.8"
            value="COLOR_YELLOW">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.logic.model"
            id="net.mograsim.logic.model.color.bit.zero"
            isEditable="true"
            label="%colorDefinition.label.9"
            value="COLOR_GRAY">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_comment_color"
            isEditable="true"
            label="%colorDefinition.label.1"
            value="COLOR_GREEN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_label_color"
            isEditable="true"
            label="%colorDefinition.label.2"
            value="COLOR_BLUE">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_operation_color"
            isEditable="true"
            label="%colorDefinition.label.3"
            value="COLOR_RED">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_number_color"
            isEditable="true"
            label="%colorDefinition.label.4"
            value="COLOR_MAGENTA">
      </colorDefinition>
      <fontDefinition
            categoryId="net.mograsim.plugin.mograsim"
            id="net.mograsim.plugin.asm_operation_font"
            isEditable="true"
            label="%fontDefinition.label">
      </fontDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mi"
            id="net.mograsim.plugin.modified_cell_bg_color"
            isEditable="true"
            label="%colorDefinition.label.11"
            value="COLOR_GREEN">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mi"
            id="net.mograsim.plugin.modified_cell_fg_color"
            isEditable="true"
            label="%colorDefinition.label.12"
            value="COLOR_BLACK">
      </colorDefinition>
      <fontDefinition
            categoryId="net.mograsim.plugin.mi"
            id="net.mograsim.plugin.table_font"
            isEditable="true"
            label="%fontDefinition.label.0">
      </fontDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mi"
            id="net.mograsim.plugin.highlighted_cell_bg_color"
            isEditable="true"
            label="%colorDefinition.label.13"
            value="COLOR_YELLOW">
      </colorDefinition>
      <colorDefinition
            categoryId="net.mograsim.plugin.mi"
            id="net.mograsim.plugin.highlighted_cell_fg_color"
            isEditable="true"
            label="%colorDefinition.label.14"
            value="COLOR_BLACK">
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.mograsim.plugin.MainPreferencePage"
            id="net.mograsim.plugin.core.mainprefpage"
            name="Mograsim">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.mograsim.plugin.nature.properties.MograsimNaturePropertyPage"
            id="net.mograsim.plugin.nature.properties.samplePropertyPage"
            name="Mograsim">
         <enabledWhen>
            <reference
                  definitionId="net.mograsim.plugin.core.hasNature">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/mograsim/blue-orange/icon_blue-orange_7x8.png"
            id="net.mograsim.plugin.core.nature.icon"
            natureId="net.mograsim.plugin.core.mograsimNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.mograsim.plugin.mograsimNature.category"
            name="%category.name.0">
      </category>
      <command
            categoryId="net.mograsim.plugin.mograsimNature.category"
            defaultHandler="net.mograsim.plugin.nature.AddMograsimNatureHandler"
            id="net.mograsim.plugin.core.addMograsimNature"
            name="%command.name">
      </command>
   </extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<category
			name="%wizards.newWizards.category"
			id="net.mograsim.plugin.wizards.newWizards.category">
		</category>
		<wizard
			id="net.mograsim.plugin.wizards.newWizards.NewWizardMPM"
	   		name="%wizards.newWizards.mpm.name"
			class="net.mograsim.plugin.wizards.newWizards.NewWizardMPM"
			category="net.mograsim.plugin.wizards.newWizards.category"
			icon="icons/mograsim/blue-orange/icon_blue-orange_16.png">
			<description>%wizards.newWizards.mpm.desc</description>
	   		<selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>
 <extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="net.mograsim.plugin.launch.MachineLaunchConfigType"
          id="net.mograsim.plugin.core.launchmachine.type"
          modes="run, debug"
          name="Mograsim machine">
    </launchConfigurationType>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="net.mograsim.plugin.launch.EmptyLaunchConfigTabGroup"
          id="net.mograsim.plugin.core.launchmachine.tabgroup"
          type="net.mograsim.plugin.core.launchmachine.type">
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabs">
    <tab
          class="net.mograsim.plugin.launch.MainMachineLaunchConfigTab"
          group="net.mograsim.plugin.core.launchmachine.tabgroup"
          id="net.mograsim.plugin.core.launchmachine.maintab"
          name="Common">
    </tab>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="net.mograsim.plugin.core.launchmachine.type"
          icon="icons/mograsim/orange/icon_orange_16.png"
          id="net.mograsim.plugin.core.launchmachine.image">
    </launchConfigurationTypeImage>
 </extension>
 <extension
       point="org.eclipse.debug.ui.memoryRenderings">
    <renderingBindings
          defaultIds="org.eclipse.debug.ui.rendering.raw_memory"
          primaryId="org.eclipse.debug.ui.rendering.raw_memory"
          renderingIds="org.eclipse.debug.ui.rendering.raw_memory">
    </renderingBindings>
 </extension>
</plugin>
