<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.mograsim.machine.machine_definition">
      <machineDefinitionImplementation
            class="net.mograsim.logic.model.am2900.machine.Am2900TeachingMachineDefinition"
            unique_id="Am2900Simple">
      </machineDefinitionImplementation>
      <machineDefinitionImplementation
            class="net.mograsim.logic.model.am2900.machine.Am2900ExpertMachineDefinition"
            unique_id="Am2900Strict">
      </machineDefinitionImplementation>
   </extension>

</plugin>
